# Python NumPy Tutorial : Part 10

# string Operation, Comparison and information

In [1]:
#jp app koi project pe kaam kar rhe ho apke pass string type ki data hai, aur uss string type of data k upar apko operation
#perform karna hai to NumPy ka isstemaal karke tb apko string operation comparisan and information ko use karna padega

In [2]:
import numpy as np

In [5]:
ch_name="Indian AI Production"
str1 = "Learning Python NumPy"
np.char.add(ch_name, str1) # in the output both the string are getting add

array('Indian AI ProductionLearning Python NumPy', dtype='<U41')

In [8]:
#to convert in lower case 
np.char.lower(ch_name)

array('indian ai production', dtype='<U20')

In [9]:
#to convert into upper case 
np.char.upper(str1)

array('LEARNING PYTHON NUMPY', dtype='<U21')

In [10]:
#to put the data in the centre we use the center function 
np.char.center(str1,60)

array('                   Learning Python NumPy                    ',
      dtype='<U60')

In [11]:
# we put the str1 in center and the spaces fill with "*" as shown in the output 
np.char.center(str1,60, fillchar="*")

array('*******************Learning Python NumPy********************',
      dtype='<U60')

In [13]:
np.char.split(ch_name) # in the output we got "ch_name" in the split form of 3 item

array(list(['Indian', 'AI', 'Production']), dtype=object)

In [14]:
np.char.splitlines("hello\nIndian") # "\" it is an backslash
# when we have the backslash "\" in the code then we use "splitlines" for the spliting process

array(list(['hello', 'Indian']), dtype=object)

In [15]:
str4 ="dmy"
str5="dmy"
np.char.join([":","/"],[str4, str5]) # here the output we got usin the "join function" as acoording in the code

array(['d:m:y', 'd/m/y'], dtype='<U5')

In [19]:
ch_name="Indian AI Production"
np.char.replace(ch_name,"AI",'Artificial intelligence') # in this way we can replace "AI" with "Artificial Intelligence"

array('Indian Artificial intelligence Production', dtype='<U41')

# discuss on camparisan

In [20]:
np.char.equal(str4,str5) # it means the str4 and str5  both are same thats why its show in output is"true"

array(True)

# discuss on information

In [21]:
np.char.count(ch_name,"a") # in output it counts the  how many times "a" used in the "ch_name"

array(1)

In [22]:
ch_name # in this  Indian AI Production small "a" is only times thats why it shows 1 in output ofg above cell

'Indian AI Production'

In [28]:
#using find function
np.char.find(ch_name,"P") # it tells the position of index in the output

array(10)

In [31]:
np.char.find(ch_name,"AI") # it also tells the index of "AI" in the output

array(7)